h1 {
  text-align: center;
  font-size: 70pt;
  margin: -8px 0 0 0;
}

.controls { position: fixed; left: 1em; top:1em; }
.speed { font-size: x-large !important; }
.style { font-size: large !important; }
